.bg-image{
	background: url("../img/Osaka.jpg")
	no-repeat center center fixed;
	background-size: cover;
}
h1 {
	font-family: arial;
	color: white;
	font-size: 100px;
	-webkit-text-stroke:.6px black
}